@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">

    <img src="https://tse2.mm.bing.net/th?id=OIG4.eOcB_OMgni5DLEgRreWK&w=270&h=270&c=6&r=0&o=5&pid=ImgGn"
         alt="Locadora Digital"
         style="width: 250px; height: auto; border-radius: 15px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);">


    <h1 class="display-4">Bem-Vindos à Locadora Digital de Games!</h1>
    <p>Gerencie seus alugueis de jogos e consoles sem nenhum esforço.</p>

    <div class="btn-group mt-4" role="group">
        <a class="btn btn-primary" asp-controller="Client" asp-action="CreateClient">Novo Cliente</a>
        <a class="btn btn-secondary" asp-controller="Client" asp-action="ListClients">Listar Clientes [Admin]</a>
    </div>

    <hr class="my-4">

    <div class="row">
        <div class="col-md-3">
            <a class="btn btn-success btn-block" asp-controller="Game" asp-action="CreateGame">Novo Jogo</a>
        </div>
        <div class="col-md-3">
            <a class="btn btn-info btn-block" asp-controller="Platform" asp-action="CreatePlatform">Nova Plataforma</a>
        </div>
        <div class="col-md-3">
            <a class="btn btn-warning btn-block" asp-controller="Console" asp-action="CreateConsole">Novo Console</a>
        </div>
        <div class="col-md-3">
            <a class="btn btn-danger btn-block" asp-controller="Rental" asp-action="CreateRental">Alugar um Jogo</a>
        </div>
    </div>
</div>
